.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#header-img {
  height: 200px;
}

#nav-restroom-search {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;
}

#header-image {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
}

#nav-mylist {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
}