.App {
  text-align: center;
}

/* LINKS */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

.header {
  padding: 0vh;
  background-color: #b3ffff;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-nav {
  background-color: #00b3b3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 2vh;
  border-bottom: 0.3vh black solid;
}

#header-img {
  height: 7vh;
}

#nav-restroom-search {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;
}

#header-image {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
}

#nav-mylist {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
}

.header-text {
  background-color: #b3ffff;
  padding: 2vh;
  margin: 0vh;
}

/* RESTROOM SEARCH */

main {
  background-color: #b3ffff;
}

.restroom-search {
  background-color: #b3ffff;
  display: flex;
  justify-content: space-between;
  padding: 2vh 0vh;
}

.restroom-detail-card {
  margin: 2vh 3vh;
  border: 0.3vh  #00b3b3 solid;
  background-color: white;
  border-radius: 0.7vh;
  max-width: 20vh;
  max-height: 35vh;
  min-width: 15vh;
  padding: 1vh;
  text-align: center;
}

.restroom-list {
  text-align: left;
  padding: 0.5vh 1vh;
  background-color: white;
  border: 0.3vh #00b3b3 solid;
  border-radius: 0.7vh;
  margin: 1vh;
}

/* MY LIST */

.my-list {
  display: flex;
  margin: 0vh 4vh;
  background-color: #b3ffff;
  padding: 2vh 1vh;
  text-align: center;
}

.list-card {
  margin: 1vh 2vh;
  border: 0.3vh  #00b3b3 solid;
  background-color: white;
  border-radius: 0.7vh;
  max-width: 45vh;
  max-height: 20vh;
  min-height: 25vh;
  padding: 1vh;
  text-align: center;
}

/* FOOTER */

.footer {
  background-color: #00b3b3;
  padding: 2vh;
  border-top: 0.3vh black solid;
}