/*
******************
U N I V E R S A L
******************
*/

.App {
  text-align: center;
  font-family: 'Bubbler One', sans-serif;
}

html {
  font-size: 130%;
  background-color: #cc99ff;
}

body {
  font-size: 0.90em;
}

h1 {
  font-size: 2em;
}

/*
**********
L I N K S
**********
*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*
************
H E A D E R
************
*/

.header {
  padding: 0vh;
}

.header-li {
  font-size: 1.5em;
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-nav {
  background-color: #cc99ff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 2vh;
  border-bottom: 0.3vh solid black;
}

#header-img {
  height: 7vh;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
}

#nav-restroom-search {
  font-size: 1.2em;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end;
}

#about-text {
  font-size: 1.2em;
}

#nav-mylist {
  font-size: 1.2em;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
}

.header-text {
  background-color: white;
  padding: 2vh;
  margin: 0vh;
}

/*
******************************
R E S T R O O M - S E A R C H
******************************
*/

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
}

input {
  padding: 0.5vh;
  margin: 0.5vh;
  border: 0.2vh solid black;
  border-radius: 0.5vh;
}

input:focus {
  outline-color: #a64dff;
}

textarea:focus {
  outline-color: #a64dff;
}

label {
  font-weight: 900;
}

.header-text-search {
  background-color: white;
  padding: 4vh;
  margin: 0vh;
}

.restroom-search {
  background-color: white;
  display: flex;
  padding: 2vh 0vh;
}

.restroom-detail-card {
  margin: 3vh 3vh;
  border: 0.3vh solid #a64dff;
  background-color: #f2e6ff;
  border-radius: 0.7vh;
  padding: 1vh;
  max-width: 32vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-container {
  padding-bottom: 1vh;
}

.card-icon {
  height: 5vh;
  margin: 0 auto;
  padding: 0.6vh;
}

.detail-card-add-button {
  background-color: #6600cc;
  color: white;
  border-radius: 0.7vh;
  padding: 0.5vh 0vh;
}

.full-restroom-list {
  margin: 2vh;
}

.restroom-list-item {
  text-align: left;
  padding: 0.5vh 1vh;
  background-color:  #f2e6ff;
  border: 0.3vh solid #a64dff;
  border-radius: 0.7vh;
  margin: 1vh;
}

/*
**************
M Y - L I S T
**************
*/

.my-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0vh 4vh;
  background-color: white;
  padding: 2vh 1vh;
  text-align: center;
}

.list-card {
  margin: 1vh 2vh;
  border: 0.3vh solid #a64dff;
  background-color: #f2e6ff;
  border-radius: 0.7vh;
  width: 20vh;
  padding: 1vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
**********
A B O U T
**********
*/

.about-container {
  padding: 2vh;
}

.about {
  background-color: white;
  padding: 1vh;
  margin: 0vh;
}

/*
************
F O O T E R
************
*/

.footer {
  background-color: #cc99ff;
  padding: 2vh;
  border-top: 0.3vh solid black;
  font-size: 1.2em;
  font-weight: 600;
}

/*
**********************************
R E S P O N S I V E - T A B L E T
**********************************
*/

@media only screen and (min-width: 768px) {

  /* Restroom Search */

  .restroom-detail-card {
      max-width: 42vh;
      min-width: 32vh;
    }

}

/*
************************************
R E S P O N S I V E - D E S K T O P
************************************
*/

@media only screen and (min-width: 1024px) {

  /* Universal */
  
  html {
    font-size: 130%
  }
  
  body {
    font-size: 0.75em;
  }
  
  h1 {
    font-size: 2em;
  }

  /* Restroom Search */

  .restroom-detail-card {
      max-width: 48vh;
      min-width: 42vh;
      margin: 3vh 15vh;
  }
}